.users-table {
    margin: 0 auto;
    border-collapse: collapse;
}

.table-th {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: darkslateblue;
    color: white;
}

.table-th:not(:last-child) {
    border-right: 2px solid white;
}

.table-td {
    padding: 8px;
    color: #3e4444;
}

.action-link {
    display: inline-block;
}

.actions-buttons {
    width: 30px;
    height: 30px;
    margin-left:7px;
    margin-right: 7px;
}

.table-tr:not(:last-child) .table-td {
    border-bottom: 1px solid darkslateblue;
}

.content-center {
    text-align: center;
}

.main-title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #000099;
}
